@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS para visualizar no PC */
#container{
    text-ident: 5px;
    display: block;
    padding: 0;
    margin: 10px;
}
#cabecalho{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
#nome{
    text-transform: full-width;
    text-align: left;
    color: black;
    font-size: 130%;
    height: 90px;
}
#info{
    font-size: 80%;
    text-align: left;
    height: 40px;
}
.titulo{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 130%;
    color: cornflowerblue;
    height: 10%;
}
#objetivo{
    padding-top: 2%;
}
.descricao-objetivo{
    font-size: 118%;
    margin-bottom: 0;
}
#experiencia{
    font-size: 100%;
    margin: 0;
}
.experiencia-subtitulo{
    font-size: 110%;
    font-style: italic;
    height: 50%;
    margin: 1% 0 0;
}
.experiencia-data{
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 2%;
}
.descricao-experiencia{
    padding: 1% 0 2%;
    margin: 0;
    width: fit-content;
    container-type: inline-size;
}
#conteudo-central{
    padding: 0;
    margin: 0;
    height: 0;
    width: 100%;
    justify-content: left;
    align-content: flex-start;
}
#conteudo-lateral{
    padding-top: 1%;
    margin: 0;
    height: 10%;
    width: 60%;
}
.endereço{
    display: block;
    padding: 0;
    font-size: 118%;
}
#contato{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    font-size: 90%;
    height: 120px;
}
#competencias{
    text-align: center;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    padding: 2% 0 0;
}
.competencia{
    margin: 1% 0 0;
    font-size: 118%;
}
#corpo{
    padding: 0;
    margin: 0;
    justify-content: left;
    align-content: flex-start;
}
#experiencia{
    max-height: 350px;
}
.descricao{
    overflow-wrap: break-word;
    font-size: 118%;
    width: 50%;
    height: auto;
    text-justify: inter-word;
}
.local{
    font-size: 110%;
    height: 1%;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 0.5%;
}
.data{
    margin: 0;
    text-transform: uppercase;
    font-size: 90%;
    height: 100%;
}
#redes-sociais{
    display: flex;
    width: 45%;
    height: 40%;
    padding: 3% 0 0;
}
.whatsapp{
    width: 50%;
}
.gmail{
    width: 50%;
}
.linkedin{
    width: 50%;
}
/* CSS para visualizar no celular */
@media only screen and (max-width: 500px) {
    #container{
        text-ident: 5px;
        display: block;
        padding: 0;
        margin: 10px;
    }
    #cabecalho{
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    #nome{
        text-transform: full-width;
        text-align: left;
        color: black;
        font-size: 14px;
        height: 60px
    }
    #info{
        font-size: 11px;
        text-align: left;
        height: 40px;
    }
    .titulo{
        font-size: 13px;
        color: cornflowerblue;
    }
    .local{
        font-size: 80%;
        margin: 0;
        padding: 1% 0 0.5%;
    }
    .data{
        text-transform: uppercase;
        font-size: 10px;
    }
    .descricao{
        padding: 0 0 5%;
        margin: 0;
        font-size: 85%;
        width: fit-content;
        text-align: justify;
        text-justify: inter-word;
    }
    #conteudo-central{
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        justify-content: left;
        align-content: flex-start;
    }
    #conteudo-lateral{
        padding: 3% 0 0;
        margin: 0;
        font-size: 11px;
        height: 100%;
        width: 60%;
    }
    .endereço{
        display: block;
        font-size: 11px;
        padding: 0;
    }
    .whatsapp{
        width: 60%;
    }
    .gmail{
        width: 60%;
    }
    .linkedin{
        width: 60%;
    }
    #contato{
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        font-size: 11px;
        height: 100%;
    }
    #competencias{
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 5% 0 0;
    }
    .competencia{
        font-size: 11px;
    }
    #corpo{
        padding: 0;
        margin: 0;
        justify-content: left;
        align-content: flex-start;
    }
    #experiencia{
        max-height: 350px;
    }
    #redes-sociais{
        display: flex;
        width: 100%;
        height: 40%;
        padding: 3% 0 0;
    }
}

@media only screen and (max-width: 400px) {
    #nome{
        text-transform: full-width;
        text-align: left;
        color: black;
        font-size: 11px;
        height: 50px
    }
}



/*Fonts*/
.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}